@use "variables";
@use "mixins";

.common-header {
  @include mixins.displayFlex(row, space-between, center, unset);
  width: 100%;

  h3 {
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
  }
}

.vertical-divider {
  width: 1px;
  background-color: variables.$secondary-color;
  margin: variables.$spacing-md 0 variables.$spacing-md 0;
  height: auto;
}

.container {
  padding: variables.$spacing-md;
}

.inner-container {
  padding: variables.$spacing-sm variables.$spacing-md;
}

.content {
  padding: variables.$spacing-md 0;
}
