@use "variables";

.common-header {
  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 48px;
  }
}

.container {
  padding: variables.$spacing-md;
}

.inner-container {
  padding: variables.$spacing-md 32px;
}

.content {
  padding: variables.$spacing-md 0;
}
