@mixin displayFlex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin displayGrid($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

.container {
  padding: 16px;
}

.inner-container {
  padding: 16px 32px;
}

.content {
  padding: 16px 0;
}
