<div class="feed-container">
  <header class="common-header">
    <h3 class="text-center">{{ pageTitle }}</h3>
  </header>

  <app-splitter></app-splitter>

  <div [appLoadingOnSubmit]="isLoading()" class="feed-content">
    <mat-card
      [routerLink]="['/initiative/details', initiative.ID]"
      *ngFor="let initiative of initiatives()"
      class="feed-card"
      appearance="outlined"
    >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ initiative.Title }}</mat-card-title>
          <mat-card-subtitle class="author-name">
            {{ initiative.Proposer }}
          </mat-card-subtitle>
          <app-token text="{{ initiative.Status }}"></app-token>
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        <p>{{ initiative.Description }}</p>
      </mat-card-content>

      <mat-card-footer>
        <div class="feed-card-actions">
          <span class="feed-card-date">{{ date.toDateString() }}</span>
          <button
            mat-icon-button
            color="primary"
            [attr.aria-label]="'Navigate to ' + initiative.Title + ' details'"
            class="nav-button"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
