@use "variables";

.feed-container {
  display: flex;
  flex-direction: column;
}

.feed-content {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  padding: variables.$spacing-md 0;
}

.feed-card {
  background-color: variables.$background-color;
  transition:
    transform 0.3s,
    box-shadow 0.3s;

  mat-card-header {
    padding: variables.$spacing-md variables.$spacing-md 0;
  }

  mat-card-content {
    padding: variables.$spacing-md;
  }

  .feed-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variables.$spacing-sm variables.$spacing-md;
  }

  .feed-card-date {
    color: rgba(0, 0, 0, 0.54);
    font-size: variables.$font-size-sm;
  }

  mat-chip-set {
    margin-left: auto;
  }

  &:hover {
    .nav-button {
      transform: translateX(5px);
      transition: transform 100ms;
    }
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
}

.nav-button {
  transition: transform 100ms;
}

.navigate-button {
  background: none;
  border: none;
  cursor: pointer;
  color: variables.$accent-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: variables.$spacing-base;
  border-radius: 50%;
  transition:
    background-color 0.2s ease,
    transform 100ms;

  &:hover {
    background-color: rgba(33, 150, 243, 0.1);
  }

  .material-icons {
    font-size: variables.$font-size-lg;
  }
}
