<form (ngSubmit)="onSubmit()" #initiativeForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput id="title" name="title" ngModel required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      id="description"
      name="description"
      ngModel
      required
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
  <button mat-button type="button" (click)="goBack()">Back</button>
</form>
