@use "../../../../styles/button" as *;
@use "../../../../styles/mixins" as *;

.form-container {
  border-left: 1px solid #d8d8d8;
  position: relative;
  @include inner-container;
}

form {
  display: flex;
  flex-direction: column;
  @include content;
}

.nav-button {
  position: absolute;
  top: 0px;
  left: 20px;
  &:hover {
    mat-icon {
      transform: translateX(-7px);
      transition: transform 100ms;
    }
  }
}
.extra-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.selected-tags {
  padding: 20px 0 20px;
  .tag {
    display: inline-flex;
    background-color: #a1a1a1;
    padding: 2px 4px;
    color: #fff;
    border-radius: 10px;
    margin: 0 5px 5px 0;
    mat-icon {
      font-size: 19px;
      margin-left: 5px;
      height: auto;
      width: auto;
    }
  }
}

.remove-icon {
  cursor: pointer;
}
