.inner-container {
  border-left: 1px solid #d8d8d8;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
}

.nav-button {
  position: absolute;
  top: 0px;
  left: 20px;
  &:hover {
    mat-icon {
      transform: translateX(-7px);
      transition: transform 100ms;
    }
  }
}
.extra-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.remove-icon {
  cursor: pointer;
}
