@use "variables";

.sidenav {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  height: 100%;
}

.logo {
  padding: variables.$spacing-md;
  margin-bottom: variables.$spacing-sm;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
