@use 'mixins';

.sidenav {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  height: 100%;
}

.logo {
  padding: $spacing-between;
  margin-bottom: $spacing-sm;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
