<div class="initiative-container">
  <header class="common-header">
    <h3 class="text-center">New Proposal</h3>
  </header>
  <app-splitter />
  <form
    [appLoadingOnSubmit]="isLoading()"
    class="content"
    [formGroup]="form"
    #initiativeForm="ngForm"
  >
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        id="description"
        name="description"
        required
      ></textarea>
      <mat-error *ngIf="form.get('description')?.errors as errors">
        {{ errors | errorMessages }}
      </mat-error>
    </mat-form-field>
    <div class="extra-info">
      <mat-form-field appearance="outline">
        <mat-label>Expected Completion Date</mat-label>
        <input
          formControlName="completionDate"
          matInput
          [matDatepicker]="picker"
          required
        />
        <mat-error *ngIf="form.get('date')?.errors as errors">
          {{ errors | errorMessages }}
        </mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cost Estimate</mat-label>
        <input
          formControlName="costEstimate"
          matInput
          id="costEstimate"
          name="costEstimate"
          required
        />
        <mat-error *ngIf="form.get('costEstimate')?.errors as errors">
          {{ errors | errorMessages }}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button
        class="submit-btn"
        [disabled]="form.invalid || isLoading()"
        mat-flat-button
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </form>
</div>
